#ignore some folders

.vscode/
core.*
results/*
.~lock*
*.simg
*.img
# compiled_plugins/*
# world_governor
#!results/.placeholder

#sources/m_litter/build/*
#sources/m_nest/build/*
#sources/mp_swarm1/build/*
#sources/w_swarm1/build/*
#sources/world_governor/build/*

sources/*/build/*

!.placeholder

